<div class="dashLogLinks">
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
</div>

<h1>Are you sure you want to delete this user from the database?</h1>

<h4>@ViewBag.user.FirstName @ViewBag.user.LastName</h4>
<h4>Email: @ViewBag.user.Email</h4>
<h4>Organization: @ViewBag.user.Organization</h4>

<a href="/deleteUser/@ViewBag.user.id">Yes, delete @ViewBag.user.FirstName from the database</a>
<a href="/grantAccessPage">No, DO NOT DELETE @ViewBag.user.FirstName</a>
