
<div class="topLinks">
    <div class="goBackLinks">
        <a href="/dashboard">Go Back</a>
    </div>
    <div class="dashLogLinks">
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<h3>Select User:</h3>

<form action="getUser" method="post" id="selectUserForm">
    <select name="id">
        @{foreach (var user in @ViewBag.allUsers){
            <option value="@user.id">@user.FirstName @user.LastName</option>
        }}
    </select><br>
    <input type="submit" value="Select">
</form>

<div id="zeroUsers">
    <h4>New Users who currently have no access:</h4>
    <ul>
        @{foreach(var user in @ViewBag.zeroUsers){
            <li>@user.FirstName @user.LastName</li>
        }}
    </ul>
</div>
